:root {
  --primary-500: rgba(247, 109, 17, 1);
  --primary-50: rgba(254, 240, 230, 1);
  --primary-950: rgba(25, 10, 1, 1);
  --primary-100: rgba(253, 225, 206, 1);
  --primary-200: rgba(252, 194, 156, 1);
  --primary-300: rgba(250, 164, 107, 1);
  --primary-400: rgba(248, 134, 58, 1);
  --primary-600: rgba(197, 83, 7, 1);
  --primary-700: rgba(148, 62, 5, 1);
  --primary-800: rgba(99, 41, 3, 1);
  --primary-900: rgba(49, 21, 2, 1);
  --neutral-500: rgba(255, 255, 255, 1);
  --neutral-50: rgba(242, 242, 242, 1);
  --neutral-950: rgba(13, 13, 13, 1);
  --neutral-100: rgba(230, 230, 230, 1);
  --neutral-200: rgba(204, 204, 204, 1);
  --neutral-300: rgba(179, 179, 179, 1);
  --neutral-400: rgba(153, 153, 153, 1);
  --neutral-600: rgba(102, 102, 102, 1);
  --neutral-700: rgba(77, 77, 77, 1);
  --neutral-800: rgba(51, 51, 51, 1);
  --neutral-900: rgba(26, 26, 26, 1);
  --green-500: rgba(77, 174, 50, 1);
  --green-50: rgba(238, 249, 235, 1);
  --green-950: rgba(9, 20, 6, 1);
  --green-100: rgba(221, 244, 215, 1);
  --green-200: rgba(188, 232, 176, 1);
  --green-300: rgba(154, 221, 136, 1);
  --green-400: rgba(121, 210, 96, 1);
  --green-600: rgba(70, 159, 45, 1);
  --green-700: rgba(52, 119, 34, 1);
  --green-800: rgba(35, 79, 23, 1);
  --green-900: rgba(17, 40, 11, 1);
  --red-500: rgba(239, 68, 68, 1);
  --red-50: rgba(253, 232, 232, 1);
  --red-950: rgba(23, 2, 2, 1);
  --red-100: rgba(251, 208, 208, 1);
  --red-200: rgba(247, 161, 161, 1);
  --red-300: rgba(243, 114, 114, 1);
  --red-400: rgba(239, 67, 67, 1);
  --red-600: rgba(188, 16, 16, 1);
  --red-700: rgba(141, 12, 12, 1);
  --red-800: rgba(94, 8, 8, 1);
  --red-900: rgba(47, 4, 4, 1);
  --blue-500: rgba(37, 100, 235, 1);
  --blue-50: rgba(232, 238, 253, 1);
  --blue-950: rgba(2, 9, 23, 1);
  --blue-100: rgba(208, 222, 251, 1);
  --blue-200: rgba(162, 188, 246, 1);
  --blue-300: rgba(115, 155, 242, 1);
  --blue-400: rgba(68, 122, 238, 1);
  --blue-600: rgba(17, 71, 187, 1);
  --blue-700: rgba(13, 53, 140, 1);
  --blue-800: rgba(9, 35, 93, 1);
  --blue-900: rgba(4, 18, 47, 1);
  --csk-e6be0d500: rgba(230, 190, 13, 1);
  --csk-e6be0d50: rgba(254, 249, 231, 1);
  --csk-e6be0d950: rgba(24, 20, 1, 1);
  --csk-e6be0d100: rgba(252, 244, 207, 1);
  --csk-e6be0d200: rgba(250, 233, 158, 1);
  --csk-e6be0d300: rgba(247, 222, 110, 1);
  --csk-e6be0d400: rgba(244, 211, 62, 1);
  --csk-e6be0d600: rgba(193, 160, 11, 1);
  --csk-e6be0d700: rgba(145, 120, 8, 1);
  --csk-e6be0d800: rgba(97, 80, 5, 1);
  --csk-e6be0d900: rgba(48, 40, 3, 1);
  --brandgray-900: rgba(17, 24, 39, 1);
  --brandgray-500: rgba(107, 114, 128, 1);
  --caption-5-font-family: "Roboto-Bold", Helvetica;
  --caption-5-font-weight: 700;
  --caption-5-font-size: 18px;
  --caption-5-letter-spacing: 0.54px;
  --caption-5-line-height: normal;
  --caption-5-font-style: normal;
  --headline-headline-font-family: "Roboto-Bold", Helvetica;
  --headline-headline-font-weight: 700;
  --headline-headline-font-size: 32px;
  --headline-headline-letter-spacing: 0.96px;
  --headline-headline-line-height: normal;
  --headline-headline-font-style: normal;
  --headline-subheadline-font-family: "Roboto-Bold", Helvetica;
  --headline-subheadline-font-weight: 700;
  --headline-subheadline-font-size: 24px;
  --headline-subheadline-letter-spacing: 0.72px;
  --headline-subheadline-line-height: normal;
  --headline-subheadline-font-style: normal;
  --button-button-1-font-family: "Poppins-Bold", Helvetica;
  --button-button-1-font-weight: 700;
  --button-button-1-font-size: 32px;
  --button-button-1-letter-spacing: 0.96px;
  --button-button-1-line-height: normal;
  --button-button-1-font-style: normal;
  --button-button-2-font-family: "Roboto-Bold", Helvetica;
  --button-button-2-font-weight: 700;
  --button-button-2-font-size: 20px;
  --button-button-2-letter-spacing: 0.6px;
  --button-button-2-line-height: normal;
  --button-button-2-font-style: normal;
  --caption-caption-1-font-family: "Roboto-Regular", Helvetica;
  --caption-caption-1-font-weight: 400;
  --caption-caption-1-font-size: 24px;
  --caption-caption-1-letter-spacing: 0.72px;
  --caption-caption-1-line-height: normal;
  --caption-caption-1-font-style: normal;
  --caption-caption-2-font-family: "Roboto-Regular", Helvetica;
  --caption-caption-2-font-weight: 400;
  --caption-caption-2-font-size: 20px;
  --caption-caption-2-letter-spacing: 0.6px;
  --caption-caption-2-line-height: normal;
  --caption-caption-2-font-style: normal;
  --caption-caption-3-font-family: "Roboto-Regular", Helvetica;
  --caption-caption-3-font-weight: 400;
  --caption-caption-3-font-size: 14px;
  --caption-caption-3-letter-spacing: 0.42px;
  --caption-caption-3-line-height: normal;
  --caption-caption-3-font-style: normal;
  --caption-caption2-font-family: "Roboto-Regular", Helvetica;
  --caption-caption2-font-weight: 400;
  --caption-caption2-font-size: 16px;
  --caption-caption2-letter-spacing: 0.48px;
  --caption-caption2-line-height: normal;
  --caption-caption2-font-style: normal;
  --caption-caption-4-font-family: "Roboto-Regular", Helvetica;
  --caption-caption-4-font-weight: 400;
  --caption-caption-4-font-size: 12px;
  --caption-caption-4-letter-spacing: 0.36px;
  --caption-caption-4-line-height: normal;
  --caption-caption-4-font-style: normal;
  --caption-body-copy-body-copy-font-family: "Roboto-Regular", Helvetica;
  --caption-body-copy-body-copy-font-weight: 400;
  --caption-body-copy-body-copy-font-size: 24px;
  --caption-body-copy-body-copy-letter-spacing: 0.72px;
  --caption-body-copy-body-copy-line-height: normal;
  --caption-body-copy-body-copy-font-style: normal;
  --caption-body-copy-body-copy-2-font-family: "Roboto-Regular", Helvetica;
  --caption-body-copy-body-copy-2-font-weight: 400;
  --caption-body-copy-body-copy-2-font-size: 30px;
  --caption-body-copy-body-copy-2-letter-spacing: 0.9px;
  --caption-body-copy-body-copy-2-line-height: normal;
  --caption-body-copy-body-copy-2-font-style: normal;
  --title-title-2-font-family: "Roboto-Bold", Helvetica;
  --title-title-2-font-weight: 700;
  --title-title-2-font-size: 40px;
  --title-title-2-letter-spacing: 1.2px;
  --title-title-2-line-height: normal;
  --title-title-2-font-style: normal;
  --title-title-1-font-family: "Roboto-Bold", Helvetica;
  --title-title-1-font-weight: 700;
  --title-title-1-font-size: 48px;
  --title-title-1-letter-spacing: 1.44px;
  --title-title-1-line-height: normal;
  --title-title-1-font-style: normal;
  --title-title-3-font-family: "Roboto-Bold", Helvetica;
  --title-title-3-font-weight: 700;
  --title-title-3-font-size: 14px;
  --title-title-3-letter-spacing: 0.42px;
  --title-title-3-line-height: normal;
  --title-title-3-font-style: normal;
  --title-title-16-font-family: "Roboto-Bold", Helvetica;
  --title-title-16-font-weight: 700;
  --title-title-16-font-size: 16px;
  --title-title-16-letter-spacing: 0.48px;
  --title-title-16-line-height: normal;
  --title-title-16-font-style: normal;
  --title-textfield-textfield-font-family: "Roboto-Regular", Helvetica;
  --title-textfield-textfield-font-weight: 400;
  --title-textfield-textfield-font-size: 20px;
  --title-textfield-textfield-letter-spacing: 0.6px;
  --title-textfield-textfield-line-height: normal;
  --title-textfield-textfield-font-style: normal;
  --base: 0px 4px 6px 0px rgba(0, 0, 0, 0.1), 0px 2px 4px 0px rgba(0, 0, 0, 0.06), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --lg: 0px 4px 6px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  --xl: 0px 10px 10px 0px rgba(0, 0, 0, 0.04), 0px 20px 25px 0px rgba(0, 0, 0, 0.1);
  --2xl: 0px 25px 50px 0px rgba(0, 0, 0, 0.25);
}
